html,
body {
  height: 100%;
  font-family: Metrophobic, Helvetica, Arial, sans-serif;
}

body {
  color: white;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  background: radial-gradient(ellipse at 50%, rgb(0, 72, 76) 0%, rgb(0, 24, 56) 100%);
}

h1 {
  font-size: 1.95rem;
  position: absolute;
  top: 100px;
  left: 260px;
}

a,
a:focus,
a:hover {
  color: white;
}

nav {
  font-size: 1.2rem;
}

.col-viz {
  height: 85vh;
  overflow: hidden;
}

.col-info {
  width: 100vw;
  font-size: 0.85rem;
  overflow-x: hidden;
  padding: 0;
}

.col-info h2 {
  margin-bottom: 1.45rem;
  font-size: 1.8rem;
}

.col-info h3 {
  margin-bottom: 0.65rem;
  opacity: 0.65;
  font-size: 1.3rem;
}

.col-info .about {
  color: rgb(0, 185, 185);
  font-size: 1.3rem;
}

.col-info .about h3 {
  color: rgb(0, 165, 165);
}

.col-info .visual,
.col-info .data {
  font-size: 1rem;
}

.col-info .data a {
  color: rgb(135, 148, 229);
  text-decoration: underline;
}

.col-info .author {
  opacity: 0.45;
  font-size: 0.85rem;
  margin: 1.5rem 0 0 0;
}

.col-info .author p {
  margin-bottom: 0;
}

.col-info .author a {
  text-decoration: underline;
  font-weight: 600;
}

.col-info img {
  width: 80%;
  margin: 0 9%;
}

img.info-key-diff {
  width: 102%;
  margin: 0 -1%;
}

.col-info .inner {
  position: relative;
}

.info {
  background: rgba(0, 0, 0, 0.2);
  text-align: left;
  margin: 0 0 1rem 0;
}

.info-intro-animate,
h2.info-intro-animate,
h3.info-intro-animate,
.info-about,
.info-legend {
  opacity: 0;
}

.container-fluid {
  z-index: 1;
}

.menu.masthead {
  width: 100%;
}

.inner {
  padding: 2rem;
}

.masthead {
  margin-bottom: 2rem;
  z-index: 2;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead {
  justify-content: center;
  margin-top: 10px;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: 2px solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: white;
  border-bottom-color: white;
}

#options-wrapper {
  width: 90%;
  margin: 0 5%;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  opacity: 0;
  font-size: 10px;
}

#words-wrapper {
  height: 50px;
  margin: 0 auto;
  font-size: 13px;
  color: white;
  transform: translate(40%, 0);
  opacity: 0;
}

.word-label {
  float: left;
  margin: 0 10px;
}

.option {
  display: inline-block;
  position: relative;
  width: 15%;
  margin: 0 20px;
  color: rgba(255,255,255,.5);
  line-height: 1.1;
  text-decoration: none;
}

.option:hover {
  text-decoration: none;
}

.option.active {
  color: white;
  text-decoration: none;
}

.option.active::after {
  content: '▲';
  position: absolute;
  bottom: -15px;
  left: 50%;
  color: white;
}

#at-cv-toaster .at-cv-toaster-win {
  width: 80px !important;
  background: black !important;
  margin: 0 0 0 -10px !important;
}

.d3-tip,
.notification {
  font-family: Metrophobic, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  text-align: center;
  z-index: 10;
}

.d3-tip div {
  line-height: 1.3;
}

.d3-tip.n:after {
  top: calc(100% - 1px);
}

.tooltip-info__score {
  border-bottom: 1px #565656 solid;
  padding-bottom: 10px;
}

.tooltip-info__score + .tooltip-info__freq {
  padding-top: 6px;
}

.word-input-wrapper {
  position: absolute;
  margin: 0;
}

.word-input,
.word-input:focus {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 18px;
  display: none;
}

.button-word {
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
  display: none;
}

.button-word span {
  margin: 0;
  padding: 0;
  color: white;
  line-height: 0.1;
  text-shadow: none;
}

button.button-word-close {
  background: black;
}

button.button-word-check {
  background: rgb(50, 200, 200);
}

.notification {
  position: absolute;
  width: 300px;
  line-height: 1;
  font-weight: bold;
  padding: 12px 12px 16px 12px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 2px;
  pointer-events: none;
  text-align: center;
  display: none;
}

.notification:after {
  position: absolute;
  display: inline;
  width: 100%;
  top: -10%;
  left: 0;
  content: "\25B2";
  margin: -2px 0 0 0;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
}

.loading__circle {
  animation: 1s ease-in infinite alternate pulse;
}

@keyframes pulse {
  from {
    r: 1;
    opacity: 1;
    stroke-width: 10;
  }

  to {
    r: 40;
    opacity: 0.1;
    stroke-width: 1;
  }
}

@media (min-width: 40em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

@media (min-width: 62em) {
  body {
    background: radial-gradient(ellipse at 30%, rgb(0, 72, 76) 0%, rgb(0, 24, 56) 100%);
  }
  .nav-masthead {
    margin-top: 0;
  }
  .masthead {
    width: 100vw;
  }
  .col-info {
    position: absolute;
    right: 0;
    top: 0;
    width: 35vw;
    max-height: 85vh;
    overflow-y: scroll;
  }
  .col-info .visual,
  .col-info .data {
    font-size: 0.95rem;
  }
  .col-info .about {
    font-size: 1rem;
  }
  .col-info h3 {
    font-size: 1.4rem;
  }
  .col-info img {
    width: 102%;
    margin: 0 -1%;
  }
  img.info-key-diff {
    width: 108%;
    margin: 0 -3%;
  }
  #words-wrapper {
    font-size: 18px;
    transform: translate(40%, 0);
  }
  #options-wrapper {
    width: 80%;
    margin: 0 10%;
    font-size: 14px;
  }
  .option.active::after {
    bottom: -17px;
  }
}
